<h3>Find By fullName</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="authorName">Author Full Name</label>
      <input type="text" class="form-control" id="authorName" required [(ngModel)]="authorName" name="authorName">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let author of authors">
    <h4>{{author.id}} - {{author.authorName}}</h4>
  </li>
</ul>
