<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <nav>
    <a routerLink="authors" class="btn btn-primary active" role="button" routerLinkActive="active">Autorzy</a>
    <a routerLink="books" class="btn btn-primary active" role="button" routerLinkActive="active">Książki</a>
    <a routerLink="copys" class="btn btn-primary active" role="button" routerLinkActive="active">Kopie</a>
    <a routerLink="loans" class="btn btn-primary active" role="button" routerLinkActive="active">Wypożyczenia</a>
    <a routerLink="logout" class="btn btn-primary active" role="button" routerLinkActive="active">Wyloguj</a>
  </nav>
  <router-outlet></router-outlet>
</div>
